<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}Nochevieja 2016 - Murcia{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
        <script src="{{ asset('/assets/build/vendor.js', 'webpack') }}"></script>
        <script src="{{ asset('/assets/build/main.js', 'webpack') }}"></script>
        {#{% if use_webpack_dev_server %}
        <link rel="stylesheet" href="{{ asset('/assets/build/stylesheets/main.css') }}">
        {% endif %}#}
</head>
    <body>
    {% block body %}
        
        <header class="main-header">
            <nav class="navbar navbar-default navbar-fixed-top">
              <div class="container">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                    <a id="logo" class="navbar-brand logo logo31" href="{{ path('homepage') }}" title="treinta3y1uno">treinta3y1uno</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                  <ul class="nav navbar-nav navbar-right">
						<li><a href="{{ path('homepage') }}" title="Hall">Hall</a></li>
						<li><a href="{{ path('edit_profile') }}" title="Mi perfil">Mi perfil</a></li>
						<li><a href="{{ path('list') }}" title="Invitados">Invitados</a></li>
						<li><a href="{{ path('ranking') }}" title="Ranking">Ranking</a></li>
                  </ul>
                    {% endif %}
                </div><!--/.nav-collapse -->
              </div>
            </nav>
        </header>
        {% block content %}
        {% endblock %}
    {% endblock %}
    {% block footer %}
    <footer class="footer" role="contentinfo">
		<div id="contact-details" class="container">
		
			<div class="row">
		
				<div class="col-md-4">
				
					<h3>Localización</h3>
					
					<p>Club Foster's<br />
					Santa Eulalia, Murcia</p>
				
				</div>
				
				<div class="col-md-4">
				
					<h3>Contacto</h3>
					
					<p>nochevieja31@gmail.com</p>
				
				</div>
				
			</div><!-- end .container -->
		
		</div><!-- end #contact-details -->
	
		<div class="container">
	
			<div class="row">
			<div class="col-md-12">
		  	  
	  			<p id="copyright-details">&copy; 2016. Treinta3y1Uno</p>
	  		
	  		</div>	  
	  		</div>	  
		  	
		</div><!-- end .container -->
    </footer>
    {% endblock footer %}
				
		
	
        {% block javascripts %}{% endblock %}
    </body>
</html>
