<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
	    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald">
        <script src="{{ asset('/assets/build/vendor.js', 'webpack') }}"></script>
        <script src="{{ asset('/assets/build/main.js', 'webpack') }}"></script>
        {#{% if use_webpack_dev_server %}
        <link rel="stylesheet" href="{{ asset('/assets/build/stylesheets/main.css') }}">
        {% endif %}#}
</head>
    <body>
    {% block body %}
        
	<header id="header-global" role="banner">
	
		<div class="container">
			
			<div class="row">
		
				<div class="three columns">
					
                    <div id="logo" class="logo31"><a href="{{ path('homepage') }}" title="treinta3y1uno">treinta3y1uno</a></div>
				  	
				</div>

				<nav id="header-navigation" class="thirteen columns" role="navigation">
					
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
					<ul id="navigation">
						<li><a href="{{ path('homepage') }}" title="Home">Home</a></li>
						<li><a href="{{ path('edit_profile') }}" title="Contact">Mi perfil</a></li>
						<li><a href="{{ path('list') }}" title="Contact">Invitados</a></li>
					</ul><!-- end #navigation -->
                    {% endif %}
				
				</nav><!-- end #header-navigation -->
				
			</div><!-- end .row -->
		
	</header><!-- end #header-global -->
        {% block content %}
        {% endblock %}
    {% endblock %}
	<footer id="footer-global" role="contentinfo" class="clearfix">
				
		<div id="contact-details">
		
			<div class="container">
		
				<div class="one-third column">
				
					<h3>Localización</h3>
					
					<p>Club Foster's<br />
					Santa Eulalia, Murcia</p>
				
				</div>
				
				<div class="one-third column">
				
					<h3>Contacto</h3>
					
					<p>nochevieja31@gmail.com</p>
				
				</div>
				
			</div><!-- end .container -->
		
		</div><!-- end #contact-details -->
	
		<div class="container">
	
			<div class="sixteen columns">
		  	  
	  			<p id="copyright-details">&copy; 2016. Treinta3y1Uno</p>
	  		
	  		</div>	  
		  	
		</div><!-- end .container -->
		
	</footer><!-- end #footer-global -->
	
        {% block javascripts %}{% endblock %}
    </body>
</html>
