{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div id="form-wrapper" class="row">
        <div class="text-center">
        <p><strong>Un miembro de la resistencia te ha filtrado la lista completa de invitados.</strong> Desafortudamente, no aparecen los nombres sino tan solo unas pocas pistas de cada uno de los asistentes. Debes identificar a tantos como puedas. Solo así podrás encontrar a los cinco miembros del comando infiltrado y completar tu misión. <br />¡Hazlo antes de que algún otro, con peores intenciones, se te adelante!</p>
        </div>
        <div id="recent-news">
            <script>
            var identifier = new Identifier();
            </script>
        {% for userStatus in users %}
        <article class="homepage one-third column" userId="{{userStatus.suspect.id}}">
                <script>
                identifier.addUser({{userStatus.suspect.id}});
                </script>

                <div class="thumbnail">
                    <img src="/assets/img/blog_thumb_placeholder.png" alt="" />
                </div>

                {% if userStatus.status == 'hidden' or userStatus.status == 'failed' %}
                <h3>*********** &nbsp; ***********</h3>
                {% elseif userStatus.status == 'matched' %}
                <h3>{{ userStatus.suspect.name }} {{ userStatus.suspect.surname }}</h3>
                {% endif %}

                <p>{{ userStatus.suspect.occupation }}</p>
                <p>{{ userStatus.suspect.sport }}</p>
                <p>{{ userStatus.suspect.movie }}</p>

                <a class="read-more-btn" href="javascript:void(0);">Identificar &rarr;</a>

            </article><!-- end article -->
        {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="identifyModal" role="dialog" style="overflow:hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Identificar</h4>
      </div>
      <div class="modal-body">
        <p></p>
            <form>
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <select id="identiselect">
                    <option></option>
                    {% for userStatus in users %}
                    <option value="{{userStatus.suspect.id}}">{{userStatus.suspect.name}} {{userStatus.suspect.surname}}</option>
                    {% endfor %}
                <select>
              </div>
              <a class="read-more-btn" id="doIdentify" href="javascript:void(0);">Identificar</a>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}
