{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div id="form-wrapper" class="row">
        <div class="text-center">
        <p><strong>Un miembro de la resistencia te ha filtrado la lista completa de invitados.</strong> Desafortudamente, no aparecen los nombres sino tan solo unas pocas pistas de cada uno de los asistentes. Debes identificar a tantos como puedas. Solo así podrás encontrar a los cinco miembros del comando infiltrado y completar tu misión. <br />¡Hazlo antes de que algún otro, con peores intenciones, se te adelante!</p>
        </div>
        <div id="recent-news">
            <script>
            var identifier = new Identifier('{{url('identify')}}');
            </script>
        {% for userStatus in users %}
        <article class="homepage one-third column" statusId="{{userStatus.id}}">
                <script>
                identifier.addUser({{userStatus.id}});
                </script>

                <div class="thumbnail">
                    {% if userStatus.status == 'hidden' or userStatus.status == 'failed' %}
                    <img src="/assets/img/blog_thumb_placeholder.png" alt="" />
                    {% else %}
                        {% if userStatus.suspect.imageName %}
                        <img src="{{ vich_uploader_asset(userStatus.suspect, 'imageFile' )|imagine_filter('my_thumb') }}" />
                        {% else %}
                        <img src="/assets/img/blog_thumb_placeholder.png" alt="" />
                        {% endif %}
                    {% endif %}
                </div>

                {% if userStatus.status == 'hidden' or userStatus.status == 'failed' %}
                <h3 class="js-name">*********** &nbsp; ***********</h3>
                {% elseif userStatus.status == 'matched' %}
                <h3>{{ userStatus.suspect.name }} {{ userStatus.suspect.surname }}</h3>
                {% endif %}

                {% set data = [userStatus.suspect.occupation, userStatus.suspect.movie, userStatus.suspect.sport, userStatus.suspect.band, userStatus.suspect.zodiac, userStatus.suspect.book, userStatus.suspect.hobby ] %}
                {% for item in data|shuffle|slice(0, 3) %}
                    <p>{{ item }}</p>
                {% endfor %}

                {% if userStatus.status == 'hidden' %}
                <a class="read-more-btn" href="javascript:void(0);">Identificar &rarr;</a>
                {% endif %}

            </article><!-- end article -->
        {% endfor %}
        </div>
    </div>
</div>
<div class="modal fade" id="identifyModal" role="dialog" style="overflow:hidden;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Identificar</h4>
      </div>
      <div class="modal-body" id="idmodalbody">
        <p></p>
            <form class="idform">
              <div class="form-group">
                <label for="nombre">Nombre</label>
                <select id="identiselect">
                    <option></option>
                    {% for userStatus in users %}
                    <option value="{{userStatus.suspect.token}}">{{userStatus.suspect.name}} {{userStatus.suspect.surname}}</option>
                    {% endfor %}
                <select>
              </div>
              <div class="submit-btn">
                  <a class="read-more-btn" id="doIdentify" href="javascript:void(0);">Identificar</a>
              </div>
              <div class="loading hidden">
                  <div class="sk-folding-cube">
                      <div class="sk-cube1 sk-cube"></div>
                      <div class="sk-cube2 sk-cube"></div>
                      <div class="sk-cube4 sk-cube"></div>
                      <div class="sk-cube3 sk-cube"></div>
                  </div>
              </div>
              <div class="result result-success hidden">
                  IDENTIFICACIÓN EXITOSA
              </div>
              <div class="result result-fail hidden">
                  IDENTIFICACIÓN ERRÓNEA
              </div>
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock content %}
