{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div id="form-wrapper" class="row">
        <div class="col-md-12 text-center">
            <h1>RANKING</h1>
        </div>
        <div id="recent-news">
            <table id="ranking">
                <tr><th></th><th>INFILTRADOS <br /> IDENTIF.</th><th>INVITADOS <br /> IDENTIF. </th><th>IDENTIF. <br /> FALLIDAS</th>
                {% for user in users %}
                <tr class="{{ (app.user == user) ? 'red' : 'black' }}"><td>{{ user.name }} {{ user.surname }}</td><td>{{ user.spiesIdentified }}</td><td>{{ user.guestsIdentified }}</td><td>{{ user.identificationsFailed }}</td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock content %}
